{% extends "base.html" %}
{% block title %}Kafagym Store - {{ post.title_tag }}{% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-left mt-5">
                <h3 class="blog-article-title">{{ post.title }}</h3>
                <small>Written by: {{ post.author.first_name }} {{ post.author.last_name }}</small><br/>
                <small>Created Date: {{ post.date_created }}</small><br/>
                <hr>
                <br/>
                <div class="image-container">
                    {% if post.image.url %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top img-fluid active">
                    {% endif %}
                </div>
                <br>
                <div class="text-justify">
                    {{ post.body }}
                </div>
                <br/>
                <hr>
                <br/>

                <div class="col-md-9">
                    <!-- Comment Form -->
                    <form method="POST">
                        {% csrf_token %}
                        <h4 class="text-orange">
                            Write your Comment
                        </h4>
                        <div>
                            Comment Title:
                            <input type="text" class="form-control" name="subject" required>
                            <br>
                            Comment:
                            <textarea class="form-control" name="Comment" rows="4" required></textarea>
                            <br>
                            {% if user.is_authenticated %}
                                <input class="btn btn-orange" type="submit" value="Submit Comment">
                            {% else %}
                                <p>Make sure you are signed in to be able to comment. <span><a href="{% url 'account_login' %}" class="text-orange">Sign in</a> now</span></p>
                            {% endif %}
                        </div>
                    </form>
                    <!-- /.comment form -->

                </div>
                <br><br>

                <h4 class="text-orange">
                    Comments
                </h4>
                {% if post.comments.all %}
                    {% for comment in post.comments.all %}
                        <strong>
                            {{ comment.name }} - 
                            {{ comment.date_created }}
                        </strong>
                        <br>
                        {{ comment.body }}
                    {% endfor %}
                {% else %}
                    This article has no comments yet.
                {% endif %}
                <br><br>
                <hr>
                

                <a href="{% url 'view_blog' %}" class="btn btn-orange text-uppercase">Home Blog</a>
            </div>
        </div>
    </div>
    <br/>

{% endblock %}
