{% extends "base.html" %}
{% block title %}Kafagym Store - Cart{% endblock %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container cart-container">
    <div class="row">
        <div class="col">
            <hr>
            <h3 class="shopping-cart title-orange text-center mb-4">Shopping Cart</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "cart/cart-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "cart/checkout-buttons.html" %}
                            <p class="text-dark text-muted mb-5">Below is a summary of your cart contents</p>
                        </div>
                    </div>
                    {% for item in cart_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "cart/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "cart/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: {{ item.product.price }} SEK</p>
                            <p><strong>Subtotal: </strong>{{ item.product.price | calc_subtotal:item.quantity }} SEK</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "cart/quantity-form.html" %}
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                    <div class="btt-button shadow-sm rounded-2 border border-black">
                        <a href="" class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-alt-circle-up fa-lg mx-auto my-auto"></i>
                        </a>
                    </div>
                </div>
                <div class="table-responsive rounded-2 d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="dark-style">
                            <tr>
                                <th scope="col">Product Details</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% include "cart/product-image.html" %}
                                </td>
                                <td class="py-3 dark-style">
                                    {% include "cart/product-info.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">{{ item.product.price }} SEK</p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "cart/quantity-form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">{{ item.product.price | calc_subtotal:item.quantity }} SEK</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="pt-5 text-right dark-style" colspan="5">
                                {% include "cart/cart-total.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="5">
                                {% include "cart/checkout-buttons.html" %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <p class="text-muted">Browse the catalog to search for your products.</p>
                <a href="{% url 'products' %}" class="btn btn-orange rounded-2">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase ">Back to Catalog</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/cart/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
        
        $.post(url, data)
         .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}