{% extends "base.html" %}
{% block title %}Kafagym Store - Homepage{% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Showcase Section -->
    <section id="showcase">
        <div class="showcase-overlay"></div>
            <div class="container h-100">
                <div class="row showcase h-100">
                    <div class="col-7 col-md-6 my-auto">
                    <h1 class="text-uppercase text-white font-weight-bold"><strong>Sport</strong><br><strong class="text-orange">Equipment</strong></h1>
                    <h4 class="text-white text-uppercase"><small>this</small> <strong id="blackWeek" class="text-orange font-weight-bold text-uppercase black-week">black week!</strong></h4>
                        <div class="my-5">
                            <h3>
                                <a href="{% url 'products' %}" class="btn-see-products btn-sm rounded-2 text-uppercase py-3 btn-link">See Products</a>
                            </h3> 
                        </div>
                    </div>
                </div>
            </div>        
    </section>
    <!-- /.showcase section -->

    <!-- Categories Section --> 
    <section>
        <div class="container featured-categories category-title">
            <div class="mt-3">
                <h2 class="product-categories title-orange text-center">Product Categories</h2>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                    <div class="card mb-5 shadow-sm">
                        <div>
                            <h4 class="card-title text-center mt-3">Our Equipment</h4>
                        </div>
                        <img src="{% static 'media/hybrid_magnetic_elliptical_machine.jpg' %}" alt="Product Categories Treadmill" class="img-fluid">
                        <div class="card-body">
                            <div class="blog-read-more text-center mb-2">
                                <a href="{% url 'products' %}?category=exercise_machines,weights" class="btn btn-orange">Go To Categories</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                    <div class="card mb-5 shadow-sm">
                        <div>
                            <h4 class="card-title text-center mt-3">Outfit</h4>
                        </div>
                        <img src="{% static 'media/air-jordan.jpg' %}" alt="Product Categories Air Jordan" class="img-fluid">
                        <div class="card-body">
                            <div class="blog-read-more text-center mb-2">
                                <a href="{% url 'products' %}?category=shoes,sport_clothes" class="btn btn--cta btn-orange">Go To Categories</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                    <div class="card mb-5 shadow-sm">
                        <div>
                            <h4 class="card-title text-center mt-3">New Offers</h4>
                        </div>
                        <img src="{% static 'media/protein_powder.jpg' %}" alt="Product Categories supplements" class="img-fluid">
                        <div class="card-body">
                            <div class="blog-read-more text-center mb-2">
                                <a href="{% url 'products' %}?category=all_in_one,supplements" class="btn btn-orange">Go To Categories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.categories section -->

    <!-- Service Section -->
    <section id="service">
        <div class="container d-flex service-titles">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-sp-12">
                    <div class="block">
                        <div class="box text-center">
                            <i class="service-icon fas fa-truck"></i>
                            <div class="title text-center"><strong>Fast Shipping</strong> </div>
                            <p>On orders over 500 SEK. This offer is valid on all our store items.</p>                        
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-sp-12">
                    <div class="block">
                        <div class="box text-center">
                            <i class="service-icon fas fa-shield-alt"></i>
                            <div class="title text-center"><strong>Secure Payments</strong></div>
                            <p>We ship to 21 regions in Sweden &amp; over 250 municipalities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-sp-12">
                    <div class="block">
                        <div class="box text-center">
                            <i class="service-icon fas fa-address-book"></i>
                            <div class="title text-center"><strong>Wide Range</strong></div>
                            <p>These cases are perfectly simple and easy to distinguish.</p>                        
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-sp-12">
                    <div class="block">
                        <div class="box text-center">
                            <i class="service-icon fas fa-comment-dots"></i>
                            <div class="title text-center"><strong>Online Guidance</strong></div>
                            <p>Customer Support <br>Days a week from 9:00 am to 7:00 pm.</p>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.service section -->

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        var blink_speed = 1000;
        var kf = setInterval(function (){
            var blackWeek = document.getElementById('blackWeek');
        blackWeek.style.visibility = (blackWeek.style.visibility == 'hidden' ? '': 'hidden');
        }, blink_speed);
    </script>
{% endblock %}