{% extends "base.html" %}
{% block title %}Kafagym Store - Checkout Details{% endblock %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container cart-container">
    <div class="row">
        <div class="col">
            <hr>
            <h3 class="title-orange text-center mb-4">Thank You!</h3>
            <hr>
            <p class="text-dark">Find your order infomation below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>

    <div class="row">
        <!-- Order Summary -->
        <div class="col-12 col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-orange rounded-2 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            {% else %}
                <a href="{% url 'products' %}?category=all_in_one,supplements" class="btn btn-orange rounded-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gift"></i>
                    </span>
                    <span class="text-uppercase">Now check out new offers!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}