html {
    height: 100%;
}

body {
    background-color: #EAEDED;
    color: #555;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Delivery banner */

.bg-orange {
    background-color: #F7941E;
}

/* Icon styling */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.service-icon {
    font-size: 36px;
    margin: 10%;
    color: #F7941E;
}

.logo {
    width: fit-content;
}

.logo img {
    width: 170px;
    padding-left: 20px;
}

.text-orange {
    color: #F7941E;
}

.text-orange-cart {
    color: #F7941E ;
}

.text-orange-cart:hover {
    color: #F7941E ;
}

.title-orange {
    color: #F7941E;
}

.text-dark {
    color: #4B4D4F;
}

/* Button styling */

.see-products-btn {
    background-color: #F7941E;
    color: #FFFFFF;
    min-width: 260px;
    text-decoration: none !important;
}

.btn-orange {
    background-color: #F7941E;
    color: #FFFFFF;
}

.btn-out_of_stock {
    background-color: #DD3545;
    color: #FFF;
    pointer-events: none;
}

.btn-orange:hover {
    background-color: #FAA61A;
    color: #FFFFFF;
    font-weight: bold;
}

.see-products-btn:hover,
.see-products-btn:active,
.see-products-btn:focus,
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background-color: #FAA61B;
    color: #FFFFFF;
    font-weight: bold;
}

.border-dark {
    border: 1.5px solid #4B4D4F !important;
}

.dark-style {
    color: #4B4D4F;
}

.cart-style {
    color: aqua !important;
}
.border-orange {
    border: 1.5px solid #F7941E !important;
}

.btt-button {
    height: 42px;
    color: #F7941E !important;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    color: #F7941E;
}

.btn-increment-decrement {
    background-color: #F7941E;
    color: #FFF;
}

.btn-increment-decrement:hover {
    background-color: #FAA61A;
    color: #4B4D4F;
}

/* Top navigation */

.topnav {
    background-color: #4B4D4F;
}

.bg-dark {
    background-color: #606061 !important;
    border-bottom: #F7941E 3px solid;
}

/* Main navigation */

.home {
    color: #F7941E !important;
    text-decoration: none !important;
}

.our-store {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.equipment {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.outfit {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.new-offers {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.navbar-nav li a:hover {
    color: #F7941E!important;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav .active {
    color: #F7941E !important;
}

.home,
.our-store::before,
.equipment::before,
.outfit::before,
.new-offers::before {
    content: '|';
    padding-right: 10px;
}

.our-store,
.equipment,
.outfit,
.new-offers {
    content: '|';
    padding-right: 10px;
}

/* Showcase area */

#showcase {
    background: url('/media/bg-showcase-img.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 164px);
}

.topnav {
    background-color: #4B4D4F;
}

.black-week {
    font-size: 30px;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-bg {
    background-color: #EAEDED;
}

.toast-success {
    background-color: #4CAF50;
}

.toast-error {
    background-color: #FF5252;
}

.toast-warning {
    background-color: #FFC107;
}

.toast-info {
    background-color: #2196F3;
}

.cart-toast-wrapper {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

/* Hide radio button */

.rate > input{
    display: none;
}

.rate{
    display: inline-block;
    border: 0;
}

.rate > label{
    float: right;
}

/* Showing the rating stars */

.rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding:0.3rem .2rem ;
    cursor: pointer;
}

/* Rating half stars */

.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

.rating-star i {
    color: #ffb503 !important;
}

/* Click and hover rating stars */
input:checked ~ label, label:hover ~ label{
    color: #ffb503;
}

/* Rating star highlight */

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label, label:hover ~ input:checked ~ label{
    color: #CC9000;
}
/* Footer */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

.footer-container {
    padding-top: 20px;
    margin-top: auto;
    background-color:#FAA61A;
    color: #555;
    overflow: hidden;
    padding-left: 30px;
    position: relative;
}

.footer-bottom {
    background: #F7941E;
    height: 40px;
    padding: 5px;
    bottom: 0px;
    left: 0px;
    margin-left: -40px;
    margin-right: -40px;
}

.social-networks {
    text-align: left;
}

.social-networks li {
    display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #FFF;
}

.social-networks .fa-facebook:hover {
    color: #1677F2;
}

.social-networks .fa-twitter:hover {
    color: #0F9AFC;
}

.social-networks .fa-youtube:hover {
    color: #FF0000;
}

.social-networks .fa-instagram:hover {
    color: #BA31AF;
}

.contact-us h6:before {
    content: '|';
    padding-right: 10px;
}

.contact-us i {
    font-size: 150%;
}

.footer-products h6:before {
    content: '|';
    padding-right: 10px;
}

.footer-products li a {
    color: #4B4D4F !important;
    text-decoration: none;
}

.footer-products li a:hover {
    color: #EAEDED !important;
}

.footer-container ul {
    list-style: none;
}

.newsletter h6:before {
    content: '|';
    padding-right: 10px;
}

.footer-container form input .newsletter [type=submit] {
    background: #555;
    border: none;
    padding: 3px 25px;
    margin-left: -5px;
    color: #FFF;
    text-transform: uppercase;
}

/* overlays */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #EAEDED;
    z-index: -1;
}

.cart-container {
    margin-top: 10px;
}

/* Badge */

.badge {
    background-color: #F7941E;
    color: #FFF;
}

.badge:hover {
    background-color: #FAA61B;
    color: #FFFFFF;
    font-weight: bold;
}

.btt-button {
    height: 42px;
    color: #F7941E !important;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    color: #F7941E;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #4B4D4F;
}

.allauth-form-inner-content input {
    border-color: #4B4D4F;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #4B4D4F;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F7941E;
    border: 0.5px solid #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #fff;
    background-color: #FAA61B;
    border-color: #F7941E;
}

/* Blog styling */

.article-img {
    width: 380px;
    height: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --- Media Queries --- */

/* Slightly larger container on xl screens */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Slightly larger container on medium and up */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 105px;
    }
}

/* Giving collapsed navbar some space on tablets devices */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .products {
        margin-top: 100px;
    }
    .product-detail {
        margin-top: 80px;
    }
    .showcase {
        margin-top: 80px;
    }
}

/* Giving collapsed navbar some space on mobile devices */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    .products {
        margin-top: 90px;
    }
    .product-detail {
        margin-top: 100px;
    }
    .cart {
        display: none;
    }
    .showcase {
        margin-top: 40px;
    }
}