
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 about-us">
                <h6><b>Get to Know Us</b></h6>                   
                    <p class="text-justify">
                        Since 2010, Kafagym Store has been in the 
                        sport industry selling high-end sport equipment and related items via both online and home shipment to our esteemed customers.
                    </p>
                <ul class="social-networks">
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/kafamem" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 contact-us">
                <h6><b>Contact Us</b></h6>                  
                    <p><i class="fas fa-map-marker-alt"></i> Granrisvägen 00,<br> 702 35 Örebro</p>Sweden.
                    <p><i class="fas fa-mobile-alt"></i> 019-55 55 55</p>
                    <p><i class="fas fa-envelope"></i> kafagymstore@example.com</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h6><b>Products</b></h6>
                    <ul class="list-group footer-products">
                        <li>
                            <a href="{% url 'products' %}?category=exercise_machines,weights">
                                All Equipment</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=shoes,sport_clothes" >All Outfits item</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=all_in_one,supplements">New Offers</a>
                        </li>
                        <li>
                            <a href="{% url 'view_blog' %}">News</a>
                        </li>
                    </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 newsletter">
                <h6><b>About Our Newsletter</b></h6>   
                    <p class="text-justify">Stay in touch for our newsletter soon to be launched, to get the latest news and special offers.</p> 
            </div>
        </div>
        <div class="footer-bottom text-center footer-container">
            &copy; 2021 KafaGym Sport Store. For Educational Purposes.
        </div>
    </div>
