
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item home">
            <a href="{% url 'home' %}" class="home font-weight-bold-nav-link dark-style mr-5 font-weight-bold">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" id="all-products-link" class="our-store logo-font font-weight-bold-nav-link dark-style mr-5 font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Store
            </a>
            <div class="dropdown-menu dark-style font-weight-bold border-0" aria-labelledby="all-producsts-link">
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" id="equipment" class="equipment logo-font font-weight-bold-nav-link dark-style mr-5 font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu dark-style boder-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=exercise_machines" class="dropdown-item">Exercise Machines</a>
                <a href="{% url 'products' %}?category=weights" class="dropdown-item">Weights</a>
                <a href="{% url 'products' %}?category=exercise_machines,weights" class="dropdown-item">All Equipment</a>
            </div>           
        </li>
        <li class="nav-item dropdown">
            <a href="#" id="equipment" class="outfit logo-font font-weight-bold-nav-link dark-style mr-5 font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outfit
            </a>
            <div class="dropdown-menu dark-style boder-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=sport_clothes" class="dropdown-item">Sport Clothes</a>
                <a href="{% url 'products' %}?category=shoes,sport_clothes" class="dropdown-item">All Outfits</a>
            </div>           
        </li>
        <li class="nav-item dropdown">
            <a href="#" id="equipment" class="new-offers logo-font font-weight-bold-nav-link dark-style mr-5 font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Offers
            </a>
            <div class="dropdown-menu dark-style boder-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=all_in_one" class="dropdown-item">All-In-One</a>
                <a href="{% url 'products' %}?category=supplements" class="dropdown-item">Supplements</a>
                <a href="{% url 'products' %}?category=all_in_one,supplements" class="dropdown-item">All New Offers</a>
            </div>           
        </li>
        <li class="nav-item">
            <a href="#" id="contact-us" class="new-offers logo-font font-weight-bold-nav-link dark-style mr-5 font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>