
<li class="list-inline-item">
    <a href="#" id="mobile-search" class="text-orange nav-link d-block d-lg-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-2 my-0" aria-labelledby="mobile-search">
        <form action="{% url 'products' %}" method="GET" class="form">
            <div class="input-group w-100">
                <input type="text" name="q" class="form-control border border-dark rounded-2" placeholder="Search Kafagym store...">
                <div class="input-group-append">
                    <button class="form-control btn btn-orange border border-dark rounded-2" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>

<li class="list-inline-item dropdown">
    <a href="#" id="user-options" class="text-white nav-link d-block d-lg-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center text-orange">
            <div><i class="fas fa-user fa-lg text-orange"></i></div>
            <p class="my-0">Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-2" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            {% endif %}        
            <a href="#" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
        {% endif %}
    </div>
</li>

<li class="cart list-inline-item">
    <a href="{% url 'view_cart' %}" class="{% if grand_total %}text-info font-weight-bold{% else %}text-orange-cart{% endif %} nav-link d-block d-lg-none">
        <div class="text-center">
            <div><i class="fas fa-shopping-cart fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    {{ grand_total|floatformat:2 }} SEK
                {% else %}
                    0.00 SEK
                {% endif %}
            </p>
        </div>
    </a>
</li>
