{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<hr>
  <h3 class="allauth-title text-orange">{% trans "Sign Out" %}</h3>
<hr>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn btn-orange rounded-2" href="{% url 'home' %}"><i class="fas fa-window-close"></i> Cancel</a>
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
