{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <hr>
        <h3 class="text-orange mt-5 text-uppercase">{% trans "Verify Your E-mail Address" %}</h3>
    <hr>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us at kafagymstore@example.com if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
