{% extends "base.html" %}
{% block title %}Kafagym Store - Delete Article{% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<br><br>
{% block content %}
<div class="container">
    <div class="text-center text-orange my-5">
        <h3 class="article-title">Delete News Article</h3>
        <hr/>
        <h3>Delete: {{ article.title }}</h3>
    </div>

    <div class="row">
        <div class="col-md-8 center form-group">
            <form method="POST" class="mb-2">
                {% csrf_token %}
                <div class="text-left">
                    {% if user.is_authenticated %}
                        <button class="btn text-center btn-orange rounded-2" type="submit">Delete Article!</button>
                    {% else %}
                        <p>Make sure you are signed in to add an article. <span><a href="{% url 'account_login' %}" class="text-orange">Sign in</a> now</span></p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}